---
version: '3'

services:
  app:
    image: 'portainer/portainer-ce:latest'
    ports:
      - '9000:9000'
      - '8000:8000'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /AmberPro/portainer/data:/data
