---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: clusterissuer  # <-- Replace with your clsuterissuer name
spec:
  acme:
    email: your-email@address  # <-- Replace with your email address
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: example-clusterissuer-account-key  # <-- Replace with your secret name
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-token-secret  # <-- Replace with your secret name
              key: api-token        
