---
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: issuer  # <-- Replace with your issuer name
  namespace: your-namespace  # <-- Replace with your namespace
spec:
  acme:
    email: your-email@address  # <-- Replace with your email address
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: example-issuer-account-key  # <-- Replace with your secret name
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-token-secret  # <-- Replace with your secret name
              key: api-token        
