---
image:
  repository: traefik
  tag: v3.4.5
  pullPolicy: IfNotPresent

# --> Change redirect HTTP to HTTPs by default here...
ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true  # <-- Change this to false if you want a temporary redirect
# <--

# --> (Optional) Securely expose the Traefik dashboard...
# ingressRoute:
#   dashboard:
#     enabled: true
#     entryPoints:
#       - websecure
#     matchRule: Host(`your-traefik-dashboard-fqdn`)  # <-- Replace with your FQDN
#     middlewares:
#       - name: traefik-web-ui-middleware  # <-- Replace with your authentication middleware
#     tls:
#       secretName: traefik-web-ui-tls  # <-- Replace with your TLS secret name
# <--

# --> (Optional) Change log settings here...
# logs:
#   general:
#     level: ERROR
#   access:
#     enabled: false
# <--
