---
- name: install zsh
  hosts: "{{ my_hosts | d([]) }}"
  become: true
  tasks:
    - name: install zsh
      ansible.builtin.apt:
        name: zsh
        state: present
        update_cache: true
      become: true
