# Ignore local development files
**/.vscode
**/.DS_Store

# Docker Secrets, Environment Files
**/secret.*
**/.env
**/.envrc

# Ignore Ansible
**/.ansible

# Python
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/.venv
**/venv/

# Packaging
*.egg-info/
