---
kind: helm
metadata:
  icon:
    provider: selfh
    id: authentik
  name: Authentik
  description: >
    Helm values template for Authentik, an open-source Identity Provider focused
    on flexibility and versatility with support for various protocols (OAuth2, SAML, LDAP).


    Chart Repository: https://charts.goauthentik.io

    Chart Name: authentik

    Chart Version: Compatible with Authentik 2025.6.3


    Project: https://goauthentik.io/

    Documentation: https://docs.goauthentik.io/
  version: 2025.6.3
  author: Christian Lempa
  date: '2025-01-11'
  draft: true
schema: "1.2"
spec:
  general:
    vars:
      release_name:
        default: authentik
  networking:
    vars:
      network_mode:
        default: ClusterIP
  authentik:
    title: Authentik Configuration
    description: Configure Authentik application settings
    required: true
    vars:
      authentik_secret_key:
        type: str
        description: Secret Key
        extra: Used for cookie signing and unique user IDs
        sensitive: true
        autogenerated: true
      authentik_log_level:
        type: enum
        description: Authentik log level
        options:
          - trace
          - debug
          - info
          - warning
          - error
        default: error
      authentik_error_reporting:
        type: bool
        description: Enable error reporting to Authentik developers
        default: false
  database:
    vars:
      database_enabled:
        default: true
      database_type:
        default: postgres
      database_name:
        default: authentik
      database_user:
        default: authentik
      database_port:
        default: 5432
      database_password:
        description: PostgreSQL database password
        sensitive: true
  traefik:
    vars:
      traefik_host:
        default: authentik.home.arpa
