---
kind: kubernetes
metadata:
  icon:
    provider: selfh
    id: kubernetes
  name: Kubernetes IngressClass
  description: >
    Kubernetes IngressClass for specifying which Ingress controller should handle Ingress resources.


    IngressClass is cluster-scoped and defines ingress controller implementations.


    Documentation: https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class
  version: 1.31.0
  author: Christian Lempa
  date: '2025-01-11'
schema: "1.2"
spec:
  general:
    vars:
      resource_name:
        default: nginx
      controller:
        type: str
        description: Ingress controller identifier (e.g., k8s.io/ingress-nginx)
        default: k8s.io/ingress-nginx
      is_default:
        type: bool
        description: Set as default IngressClass
        default: false
  resources:
    title: Resource Limits
    toggle: resources_enabled
    vars:
      resources_enabled:
        type: bool
        description: Enable resource limits and requests
        default: false
      resources_cpu_limit:
        type: str
        description: CPU limit
        default: 100m
      resources_cpu_request:
        type: str
        description: CPU request
        default: 50m
      resources_memory_limit:
        type: str
        description: Memory limit
        default: 128Mi
      resources_memory_request:
        type: str
        description: Memory request
        default: 64Mi
  traefik:
    title: Traefik Integration
    toggle: traefik_enabled
    vars:
      traefik_enabled:
        type: bool
        description: Enable Traefik integration
        default: false
      traefik_host:
        type: hostname
        description: Traefik host
      traefik_domain:
        type: str
        description: Traefik domain
      traefik_tls_enabled:
        type: bool
        description: Enable TLS
        default: true
      traefik_tls_certresolver:
        type: str
        description: TLS certificate resolver
        default: letsencrypt-prod
