---
{% include 'service-v1.j2' %}
{% include 'service-environment-v1.j2' %}
{% include 'service-networks-v1.j2' %}
{% include 'service-ports-v1.j2' %}
{% include 'service-volumes-v2.j2' %}
{% include 'service-resources-v1.j2' %}
{% include 'service-configs-v1.j2' %}
{% include 'service-secrets-v1.j2' %}
{% include 'service-labels-v1.j2' %}
{% include 'service-deploy-v1.j2' %}

{% include 'volumes-v2.j2' %}

{% include 'networks-v1.j2' %}

{% include 'configs-v1.j2' %}

{% include 'secrets-v1.j2' %}
