    environment:
      - TZ={{ container_timezone }}
      - UID={{ user_uid }}
      - GID={{ user_gid }}
      {% if swarm_enabled %}
      - SECRET=/run/secrets/{{ service_name }}_secret_1
      {% else %}
      - SECRET=${SECRET}
      {% endif %}
