    volumes:
      {% if volume_mode == 'mount' %}
      - {{ volume_mount_path }}/data:/data:rw
      {% else %}
      - testapp_volume:/data
      {% endif %}
      {% if not swarm_enabled %}
      {% if volume_mode == 'mount' %}
      - {{ volume_mount_path }}/config/testapp.yaml:/etc/app/config.yaml:ro
      {% else %}
      - ./config/testapp.yaml:/etc/app/config.yaml:ro
      {% endif %}
      {% endif %}
