    {% if not traefik_enabled %}
    ports:
      {% if swarm_enabled %}
      - target: 80
        published: {{ ports_http }}
        protocol: tcp
        mode: host
      {% else %}
      - "{{ ports_http }}:80"
      {% endif %}
    {% endif %}
