{# @requires services.*.ports #}
    {% if not traefik_enabled and network_mode == 'bridge' %}
    ports:
      {% if swarm_enabled %}
      {# @repeat-start #}
      - target: __ANYINT__
        published: {{ ports__ANYSTR__ }}
        protocol: tcp
        mode: host
      {# @repeat-end #}
      {% else %}
      {# @repeat-start #}
      - "__ANY__:__ANYINT__"
      {# @repeat-end #}
      {% endif %}
    {% endif %}
