{# @requires services.*.volumes #}
    volumes:
      {# @optional-start #}
      {% if volume_mode == 'mount' %}
      {# @repeat-start #}
      - {{ volume_mount_path }}/__ANYPATH__:__ANYPATH__:rw
      {# @repeat-end #}
      {% elif volume_mode in ['local', 'nfs'] %}
      {# @repeat-start #}
      - {{ service_name }}-__ANYSTR__:__ANYPATH__
      {# @repeat-end #}
      {% endif %}
      {# @optional-end #}
      {# @optional-start #}
      {% if not swarm_enabled %}
      {% if volume_mode == 'mount' %}
      {# @repeat-start #}
      - {{ volume_mount_path }}/config/__ANYPATH__:__ANYPATH__:ro
      {# @repeat-end #}
      {% else %}
      {# @repeat-start #}
      - ./config/__ANYPATH__:__ANYPATH__:ro
      {# @repeat-end #}
      {% endif %}
      {% endif %}
      {# @optional-end #}
