    {% if resources_enabled %}
    deploy:
      resources:
        limits:
          cpus: '{{ resources_cpu_limit }}'
          memory: {{ resources_memory_limit }}
        {% if swarm_enabled %}
        reservations:
          cpus: '{{ resources_cpu_reservation }}'
          memory: {{ resources_memory_reservation }}
        {% endif %}
    {% endif %}
