{# @requires volumes #}
volumes:
{% if volume_mode == 'local' %}
  {# @repeat-start #}
  {{ service_name }}-__ANYSTR__:
    driver: local
  {# @repeat-end #}
{% elif volume_mode == 'nfs' %}
  {# @repeat-start #}
  {{ service_name }}-__ANYSTR__:
    driver: local
    driver_opts:
      type: nfs
      o: addr={{ volume_nfs_server }},{{ volume_nfs_options }}
      device: ":{{ volume_nfs_path }}__ANY__"
  {# @repeat-end #}
{% endif %}
