---
kind: compose
metadata:
  name: Grafana
  description: |-
    Grafana is an open-source platform for monitoring and observability that allows you to visualize and analyze metrics, logs, and traces from various data
    sources. It provides a powerful and flexible dashboarding solution for IT infrastructure and application monitoring.
    ## Prerequisites
    * **Project:** https://grafana.com/
    * **Documentation:** https://grafana.com/docs/grafana/latest/
    * **GitHub:** https://github.com/grafana/grafana
  version: 12.1.1
  author: Christian Lempa
  date: '2025-09-28'
  tags:
    - traefik
    - authentik
schema: "1.2"
spec:
  general:
    vars:
      service_name:
        default: "grafana"
  ports:
    vars:
      ports_http:
        default: 3000
  database:
    vars:
      database_type:
        options: ["sqlite", "postgres"]
        default: "sqlite"
      database_host:
        default: "postgres:5432"
        needs: "database_type=postgres"
      database_name:
        default: "grafana"
        needs: "database_type=postgres"
      database_user:
        default: "grafana"
        needs: "database_type=postgres"
      database_password:
        needs: "database_type=postgres"
  authentik:
    vars:
      authentik_url:
        default: "https://auth.home.arpa"
      authentik_slug:
        default: "grafana"
  traefik:
    vars:
      traefik_host:
        default: grafana
