INDEXER_USERNAME = "admin"
INDEXER_PASSWORD = "your-admin-password"
DASHBOARD_USERNAME = "kibanaserver"
DASHBOARD_PASSWORD = "your-kibanaserver-password"
API_USERNAME = "wazuh-wui"
API_PASSWORD = "your-wazuh-wui-password"
