---
kind: kubernetes
metadata:
  icon:
    provider: selfh
    id: lets-encrypt
  name: Cert-Manager Certificate
  description: >
    Cert-manager Certificate resource for requesting TLS certificates from an Issuer or ClusterIssuer.


    The certificate will be stored in a Kubernetes secret.


    Requires cert-manager to be installed in the cluster.


    Project: https://cert-manager.io

    Documentation: https://cert-manager.io/docs/usage/certificate/
  version: 1.16.2
  author: Christian Lempa
  date: '2025-01-11'
schema: "1.2"
spec:
  general:
    vars:
      resource_name:
        default: tls-certificate
      namespace:
        default: default
      secret_name:
        type: str
        description: Name of secret to store the certificate
        default: tls-secret
  dns:
    title: DNS Settings
    vars:
      dns_names:
        type: str
        description: DNS names for certificate (comma-separated, e.g., example.com,*.example.com)
  certmanager:
    title: Cert-Manager Settings
    vars:
      certmanager_issuer:
        type: str
        description: Cert-manager Issuer or ClusterIssuer name
        default: letsencrypt-prod
      certmanager_issuer_kind:
        type: enum
        description: Issuer type
        options: [Issuer, ClusterIssuer]
        default: ClusterIssuer
