---
services:
  duplicati:
    image: lscr.io/linuxserver/duplicati:2.1.0
    container_name: duplicati
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - /AmberPRO/duplicati/config:/config
      - /Backups:/backups
      - /:/source
    ports:
      - 8200:8200
    restart: unless-stopped
