---
image:
  repository: portainer/portainer-ce
  tag: 2.31.3
  pullPolicy: IfNotPresent

service:
  type: ClusterIP

# --> (Optional) When you want to automatically create an Ingress
# ingress:
#   enabled: true
#   hosts:
#     - host: "your-fqdn"  # <-- Replace with your FQDN
#       paths:
#         - path: /
#           port: "9000"
#   tls:
#     - secretName: portainer-certificate-secret
#       hosts:
#         - "your-fqdn"  # <-- Replace with your FQDN
# <--

# --> (Optional) When using an existing PVC
# persistence:
#   existingClaim: "portainer"
# <--
