---
- name: clean docker
  hosts: "{{ hosts }}"
  tasks:
    - name: prune non-dangling images
      community.docker.docker_prune:
        containers: false
        images: true
        images_filters:
          dangling: false
        networks: false
        volumes: false
        builder_cache: false