version: '3'

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 67:67/udp
      - 80:80/tcp
      - 443:443/tcp
    environment:
      - TZ=Europe/Berlin
      - WEBPASSWORD=your-secret-password
    volumes:
      - etcd:/etc/pihole
      - dnsmasq:/etc/dnsmasq.d
    restart: unless-stopped